<table>
        <tr>
          <th>Name<br></th>
          <th>URL</th>
        </tr>
        <tr>
          <td>Jupyter notebook on spark-master (get token from terminal)</td>
          <td><a href="http://localhost:8888">http://localhost:8888</a></td>
        </tr>
        <tr>
          <td>Spark Master Web UI - Overall</td>
          <td><a href="http://localhost:8080">http://localhost:8080</a></td>
        </tr>
        <tr>
          <td>Spark Master Web UI - App (when an app is running)</td>
          <td><a href="http://localhost:4040">http://localhost:4040</a></td>
        </tr>
        <tr>
          <td>Spark Worker Web UI (only when enabled)</td>
          <td><a href="http://localhost:8081">http://localhost:8081</a></td>
        </tr>
      </table>

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('PySparkShell').getOrCreate()

In [2]:
from flicker import FlickerDataFrame

In [3]:
# Create a dummy Flicker DataFrame using normally distributed random data of shape (100, 3)
df = FlickerDataFrame.from_shape(spark, nrows=100, ncols=3,
                                 names=['a', 'b', 'c'], fill='randn')

In [4]:
df()

          a         b         c
0 -1.581589  0.086650  0.698519
1 -0.022566  1.609530 -0.151360
2  0.426998  0.178081 -0.495281
3  0.682566  0.059317 -0.026672
4 -0.655312 -1.533081 -1.007250